.container
  %h2= @board.name
  - @tasks.each do |task|
    .board 
      .board_name 
        = task.name
      .board_description
        = task.description
  = link_to new_board_task_path(@board) do
    .new_board
      %h2 + Add new task