.btn_submit {
    width: 100%;
    margin: 8px 0px;
    padding: 16px 24px;
    background: lightblue;
    border-radius: 10px;
}
.btn_secondary{
    background-color: white;
    border: solid 1px lightblue;
    width: 100%;
    text-align: center;
    color: lightblue;
    padding: 16px 0;
    font-weight: bold;
  }