.profilepage_user_image {
    text-align: center;

    img{
        height: 200px;
        width: 200px;
    }
}

.profile_btn {

    .btn_submit{
        width: auto;
    }
}
.profile_card{
    text-align: center;

    p {
        margin-left: 0;
    }
}

